<section class="scroll-mt-12" id="about">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
      About Me
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        With over 3 years of experience in web and mobile development, I’ve worked with various technologies, particularly in <b>React JS</b>, <b>NextJS</b>, <b>Python</b>, and <b>JavaScript</b>. My main focus is front-end development, where I aim to create clean, responsive interfaces. I also have experience in building full-stack applications, ensuring both the front-end and back-end work seamlessly together.
        <br /><br />
        I’m available for freelance work, and If you're looking for a developer who is practical, detail-oriented ♥





      </p>
    </div>
  </div>
</section>
